/***CSS 手册：颜色页面***/

/*页面 字体*/
body {
	font: 16px "Comic San MS", cursive;
}

/*段落*/
p { color: blue; }
#first { font-style: italic; }

/*首字母*/
strong {
	font: 200% serif;
	color: red;
	background-color: #ddf;
}

.carrot { color: red; }
.spinach { color: green; }
